{% extends "base.html" %}
{% load crispy_forms_tags %}

{% load static %}
{% block content %}
  <style>

  body{
  background-image: url('{% static "images/logn.jpg" %}');
  background-repeat: no-repeat;
  background-attachment: fixed;

    background-size: 100% 100%;
  }
  </style>
    <div class="content-section mr-5  ml-5 mt-5">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-3 ">Join Today</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Sign UP</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Already Have An Account? <a class="ml-2" href="{% url 'login' %}">Sign In</a>
            </small>
        </div>
    </div>
{% endblock %}